<section class="introducao">
  <div class="conteudo-intro">
    <h1>A plataforma de conteúdo <strong class="orange-letter">Sinqia</strong>.</h1>
    <p>Assista os vídeos Sinqia, participe do Ranking de pontuação.</p>
    <p>Entenda o jeito <span class="orange-letter">Sinqia Maker</span> de ser.</p>
  </div>
</section>

<section class="introducao-apresentar">
  <div class="conteudo-escrito">
    <h2>Aproveite o <span class="orange-letter">Culturando</span>.</h2>
    <p>Colabore com a Cultura Sinqia. Veja os conteúdos postados.</p>
    <p>Entenda como a Sinqia respeita as diferenças.</p>
  </div>
  <div class="conteudo-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IqnTKdlpxmw?controls=0"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</section>

<section class="direcione-conteudo">
  <div class="conteudo-video-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yT7jc-2P8dE?controls=0"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="conteudo-escrito-2">
    <h2>Direcione o <span class="orange-letter">conteúdo</span>.</h2>
    <p>Exiba o conteúdo para todos, </p>
    <p>ou para um grupo específico.</p>
  </div>

</section>
